.banner {
    width: 100%;
    height: 800px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: flex-start;

    .ctas {
        a:first-of-type {
            margin-right: 20px;
        }
    }

    h1 {
        margin: 0;
        margin-bottom: 20px;
        font-family: 'Muller';

        @media screen and (max-width: 415px) {
            font-size: 3.5rem;
        }

        @media screen and (min-width: 416px) {
            font-size: 7.5rem;
        }

        line-height: 1;
        color: $primary-color;
        font-weight: bolder;
    }
}

.blog_latest {
    margin-bottom: 50px;

    a {
        display: inline-block;
        background-color: $primary-color;

        @include breakpoint(small only) {
            margin-bottom: 40px;
        }

    }

    h4 {
        margin-top: 60px
    }

    .separator {
        margin-bottom: 60px;
    }

    .thumb_wrapper {
        display: inline-block;
        max-height: 300px;
        width: 100%;
        background-color: $white;
        overflow: hidden;
        img { width: 100% !important; }
    }

    .preview_wrapper {
        padding: 30px;
    }
}

.caption {
    width: 100%;
    height: 600px;
    background-color: $primary-color;
}
