@import url('https://fonts.googleapis.com/css?family=Rokkitt:400,700');

@font-face {
    font-family: 'Muller';
    src: url('fonts/Muller-ExtraBold.ttf') format('truetype'),
}

@import 'settings';
@import 'foundation';

// @include foundation-everything; // should not make it to production like this
@include foundation-global-styles;
@include foundation-typography;
@include foundation-button;

@import 'header.scss';
@import 'front-page.scss';
@import 'single.scss';
@import 'footer.scss';

hr.separator {
    margin: 0;
    padding: 0;
    width: 70px;
    border: 2px solid $black;
}
